<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей &ndash; Сельмаг</title>
</head>
<body>
<h1>Список пользователей</h1>
<form method="get"  data-th-action="@{/user/list}">
    <label>
        Фильтр: <input type="text" name="username" data-th-value="${username != null} ? ${username} : null">
        Точный: <input type="checkbox" name="exact" value="1" checked>
        <button type="submit">Искать</button>
    </label>
</form>
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>#</th>-->
<!--        <th>Товар</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr data-th-each="user : ${findUsers}">-->
<!--        <td data-th-text="${user.USERNAME}"></td>-->
<!--        <td data-th-text="${user.FIRST_NAME}"></td>-->
<!--        <td data-th-text="${user.EMAIL}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
</body>
</html>