<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin homepage</title>
    <link rel="stylesheet" href="../css/basic-style.css">
</head>
<body>
    <h1>Admin homepage</h1>
    <h3>Actions:</h3>
    <ul>
        <li><a href="/admin/clients">View Clients</a></li>
        <li><a href="/admin/users">View Users</a></li>
        <li><a href="/admin/roles">View Roles</a></li>
        <li><a href="/admin/permissions">View Permissions</a></li>
        <li><a href="/admin/audit">View Audit Logs</a></li>
        <li><a href="/admin/settings">Manage Settings</a></li>
        <li><a href="/admin/logout">Logout</a></li>
    </ul>
</body>
</html>